:root{
  /* משתנים שנשתמש באתר */
--main:#1d1e3d;
--mainDark:#191923;
--mainLight: #5b5d6e;
--text:#FFFFFF;
--highlightColor:rgb(67, 97, 134);
--lightBlue:teal;
--logoBlue:#0A9BB5;
--gradiant:radial-gradient(circle, #191923 0%, #1d1e3d 40%, #5b5d6e 100%);
--orange: #E49928;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family:"Varela Round";
  font-weight: 400;
  font-style: normal;
  direction: rtl;
  text-align: right;
}
body{
  background-color: var(--main);
  color: var(--text);
}

a{
  color: inherit;
  text-decoration: none;
}
