.container{
display: flex;
flex-direction: column;
}
.menu{
background-color:var(--mainLight) ;
padding: 20px;
flex:1;
}
.content{
display: flex;
padding: 20px;
min-height: 100vh;
}
.display{
flex:4;
padding: 20px;
}