/* עיצוב למכולה הראשית */
.home-page-casing {
    background: radial-gradient(circle, #191923 0%, #1d1e3d 40%, #5b5d6e 100%);
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: "Varela Round", serif;
    margin: 0;
    padding: 0;
}

.home-container {
    display: flex;
    flex-direction: column;
    /* שינוי הכיוון לעמודה */
    justify-content: flex-start;
    min-height: 120vh;
    /* padding: 20px; */
    /* padding-top: 80px; */
    background: radial-gradient(circle, #191923 0%, #1d1e3d 40%, #5b5d6e 100%);
    align-items: center;
    /* justify-content: space-between; */
    /* height: 100vh; */
    /* background-color: #292a44; */
    padding: 30px;
    background: radial-gradient(circle, #191923 0%, #1d1e3d 40%, #5b5d6e 100%);
    /* מעבר צבע משמיים כהים במרכז לשמיים בהירים בקצוות */
    position: relative;
    /* margin-top: 40px; */
}

.zwheel {
    position: fixed;
    left: 10vw;
    transform: translateY(-50%);
    width: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 50%;
    height: auto;
    left: 20px;
    display: flex;
    justify-content: center;
}


/* .zwheel{
    position: sticky;
    top: 10px; 
    left: 10vw;
    transform: translateY(-50%);
    width: 50%;
    margin-top: 10px;
} */
/* עיצוב לקישורים */
.home-links {
    display: flex;
    gap: 20px;
    /* מרווח בין הקישורים */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: auto;
    /* position: absolute; */
    bottom: 20vh;
    /* ממקם את הכפתורים 20px מהתחתית */
    /* right: 0px; 
    left:50; */
}

.home-link {
    position: relative;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #E49928;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 56px
}

.more_to_read {
    padding: 19px 0px 22px 2px;
    /* left:10vw; */
    width: 130px;
    height: 26px;
    left: 10vw;
    bottom: 5.8vw;
}

.home-link:hover {
    color: #E49928;
    background-color: white;
}


.home-link:active {
    background-color: #E49928;
}

.sentence-on-astro {
    /* position: absolute; */
    width: 550px;
    height: 314px;
    /* left: 673px;
top: 234px; */
    font-family: "Varela Round", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 123%;
    /* or 157px */
    text-align: right;
    margin-right: 0px;
    margin-left: 50%;
    color: #FFFFFF;
    /* right:12.5vw; */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 100px;
}

.sentence1 {
    color: var(--text);
}

.sentence2 {
    color: var(--orange);
    justify-content: center;
}

.info-homepage {
    font-size: 1.15rem;
    line-height: 100%;

}

.navbar-top-homepage {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    gap: 20px;
    position: fixed;
    width: 100vw;
    height: 40px;
    top: 0;
    color: #fff;
    direction: rtl;
    background-color: var(--main);
    z-index: 10;
}

.login-from-home {
    background-color: transparent;
    border: none;
    color: var(--text);
    cursor: pointer;
    font-family: "Varela Round", serif;
    font-size: 0.9rem;
}

/* .login-from-home:hover {
    color: rgb(25, 197, 213);
    background-color: transparent;
} */


.home-about-section {
    padding: 50px;
    color: #FFFFFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* width: 80vw; */
    height: 110vh;
    background-color: #fff;
    color: #1d1e3d;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    /* margin:30px ; */
    /* background: radial-gradient(circle, #191923 0%, #1d1e3d 40%, #5b5d6e 100%); */
}

.home-about-section p {
    width: 785px;
    height: auto;
    font-family: "Varela Round", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 31px;
    text-align: right;
    justify-content: center;
    align-items: center;



}

.horoscopes {
    transition: transform 0.5s ease;
    position: relative;
    padding: 15px;
    /* z-index: 1; */
}

.Aquarius {

    top: 0px;
    left: 23px;
    width: 111px;
    height: 69px;
    transform: rotate(-7.67deg);
}

.Taurus {
    left: 600px;
    bottom: 270px;
    width: 79px;
    height: 82px;
    transform: rotate(10.67deg);

}

.Gemini {
    left: 470px;
    bottom: 55px;
    width: 67.28px;
    height: 75.77px;
    transform: rotate(15.67deg);

}

.Cancer {
    right: 470px;
    bottom: 180px;
    width: 84.31px;
    height: 74.42px;
    transform: rotate(20.29deg);

}

.Aries {
    right: 479px;
    bottom: 45px;
    width: 84px;
    height: 75px;
}

.Aquarius:hover,
.Taurus:hover,
.Cancer:hover,
.Gemini:hover,
.Aries:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.contact-section {
    width: 98.5vw;
    background-color: #1d1e3d;
    padding: 0;
}

