.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    color:var(--text);
    padding: 10px;
    height: 20vh;
    font-family:"Varela Round";
/* background-color: radial-gradient(circle, #191923 0%, #1d1e3d 40%, #5b5d6e 100%);  */

}
ul{
    list-style-type: none;
}
/* footer.css */
.about-footer {
    background-color: var(--text); /* צבע הרקע החדש */
    color: var(--orange); /* צבע טקסט */
}
