.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    color:var(--text);
    padding: 10px;
}
.footer-text{
    direction: ltr;
    font-size: 15px;
}