.about-container {
    background: radial-gradient(circle, hwb(240 10% 86%) 0%, #1d1e3d 40%, #5b5d6e 100%);
    /* display: flex; */
    /* flex-direction: column; */
    font-family: "Varela Round";   
}

.about-me-container {

    /* display: flex; */
    /* flex-direction: column; */
    justify-content: flex-start;
    min-height: 70vh;
    /* padding: 20px; */
    padding-top: 80px;
    /* background: radial-gradient(circle, #191923 0%, #1d1e3d 40%, #5b5d6e 100%); */
    align-items: center;
    /* justify-content: space-between; */
    height: 100vh;
    /* background-color: #292a44; */
    /* padding: 20px; */
    /* מעבר צבע משמיים כהים במרכז לשמיים בהירים בקצוות */
    position: relative;
}

.about-me-sentences {
/*     
    font-family: "Varela Round";
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
     */
    text-align: right;
   
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 100px;
}

.sentence1-about {
    /* 
    width: 1051px;
    height: 125px; */

    font-style: normal;
    font-weight: 600;
    font-size: 4.5rem;
    line-height: 125px;
    text-align: center;

    color: var(--text);

    margin: 40px;
}

.sentence2-about {

    /* width: 714px;
    height: 125px; */
    margin-top: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 4.5rem;
    /* line-height: 125px; */
    text-align: center;
    letter-spacing: 0.05rem;
    color: var(--orange);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.horo {
    /* position: absolute; */
    transition: transform 0.5s ease;
    display: flex;
    justify-content: flex-start;
}


  
.Aries-about {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 96.75px;
    height: 74.86px;
    transform: rotate(15.01deg);
    position: relative;
    left: -3%;
}


.Taurus-about {

    /* right: 20px; */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /* transform: rotate(32.27deg); */
    /* אייקונים/Vector */

    position: relative;
    width: 89.55px;
    height: 93.62px;
    /* left: 1097px; */

    transform: rotate(-17.77deg);
right: -4%;
top:10%;
}


.Aries-about:hover,
.Taurus-about:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* הגדרה להורה שמכיל את התוכן */
.about-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    padding: 6rem; /* ריווח פנימי מכל הצדדים */
    background-color: #fff;
    color: var(--logoBlue);
}


.about-txt p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 42px;
    text-align: right;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: right;
}


.sentence1-about,
.sentence2-about {
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}

.sentence1-about {
    transform: translateY(-100px);
    /* הזזה מלמעלה */
}

.sentence2-about {
    transform: translateY(100px);
    /* הזזה מלמטה */
}

/* כשמופיעה המחלקה 'show' */
.sentence1-about,
.sentence2-about {
    opacity: 1;
    transform: translateY(0);
    /* תחזור למקום המקורי */
    transition: opacity 1.2s ease, transform 1.2s ease;
    /* כניסה קצת יותר איטית */
}

.about-question {
    display: flex;
    background-color: radial-gradient(circle, #191923 0%, #1d1e3d 40%, #5b5d6e 100%);
    height: 40vh;
    color: var(--orange);
    /* width: 400px; */
    font-family: "Varela Round";
    font-style: normal;
    font-weight: 600;
    font-size: 3.5rem;
    /* line-height: 123%; */
    text-align: center;
    /* margin-right: 0px; */
    /* margin-left: 50%; */
    /* right:12.5vw; */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* margin-top: 100px; */
    justify-content: space-between;
    align-items: center;
}
div.about-question{
    justify-content: center;
}

.more-txt {
    background-color: var(--text);
    color: var(--logoBlue);
    min-height: 60vh;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 42px;
    text-align: right;
    padding: 6rem;
    /* width: 778px; */
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: right;
    left: 50px;
    display: flex;
}

.to-contact {
    background-color: var(--gradiant);
    color: var(--text);
    height: 20vh;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 125px;
    text-align: center;
}
@media (max-width: 480px) {
    .about-container{
        overflow-x: hidden;
        width: 100%;
    }
}