.navbarBox {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    
}

.navbar {
    padding: 20px;
    border-bottom: 3px solid var(--text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    min-width: 100vw;
    max-height: 60px;
    background-color: black;
}

.nav-text {
    padding: 60px;
    margin: 20px;
    max-width: 40vw;
}

.nav-logo {
    border-radius: 5px;
    background-color: var(--text);
    height: 70px;
    width: 70px;
    margin-top: 30px;
    padding-top: 10px;
    z-index: 100;
    position: fixed;
}

.nav-title {
    margin: 30px;
    padding: 60px;
}

.nav-menu {
    display: flex;
    gap: 20px;
    align-items: center;
}
.logout-button{
    padding: 20px;
    margin: 5px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    background: none;
    border: none;
    width: 100%;
    border-radius: 10px;
    color: var(--text);
}
/* 
.nav-search {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--text);
    padding: 10px;
    border-radius: 10px;
    color: var(--main)
}

.nav-input {
    background-color: transparent;
    border: none;
    color: var(--text);
} */

.nav-icons {
    display: flex;
    gap: 10px;
    align-items: center;
}