.navbarBox {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    
}

.navbar {
    padding: 20px;
    border-bottom: 3px solid var(--text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    min-width: 100vw;
    max-height: 60px;
    background-color: black;
}

.nav-text {
    padding: 60px;
    margin: 20px;
    max-width: 40vw;
}

.nav-logo {
    border-radius: 5px;
    background-color: var(--text);
    height: 70px;
    width: 70px;
    margin-top: 30px;
    padding-top: 10px;
    z-index: 100;
    position: fixed;
}

.nav-title {
    margin: 30px;
    padding: 60px;
}

.nav-menu {
    display: flex;
    gap: 20px;
    align-items: center;
}
.logout-button{
    padding: 20px;
    margin: 5px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    background: none;
    border: none;
    width: 100%;
    border-radius: 10px;
    color: var(--text);
    font-size: 1rem;
    font-family:"Varela Round";
}
/* 
.nav-search {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--text);
    padding: 10px;
    border-radius: 10px;
    color: var(--main)
}

.nav-input {
    background-color: transparent;
    border: none;
    color: var(--text);
} */

.nav-icons {
    display: flex;
    gap: 10px;
    align-items: center;
}
.nav-hello {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 180px; 
    font-size: 1.1rem;
    color: var(--text); 
}

.account-profile{
    display: flex;
    align-items: center;
    color: var(--text);
    /* padding: 10px; */
    /* gap: 10px; */
    width: 40px;
    height: 40px;
    /* left: 1196px; */
    margin-top: 0px;
    padding: 5px;
}

  
  /* צבע בעת ריחוף (hover) */
  .navbar-under-homepage a:hover {
    color:var(--lightBlue);
    cursor: pointer;

  }
  
  /* צבע כאשר הלינק פעיל (active) */
  .navbar-under-homepage a.active-navlink-nav {
    color: var(--lightBlue);
  }
  
 
  
  .contact-button:hover{
    color: var(--lightBlue);
    cursor: pointer;
  }
  
.heart-home,
.shopping-cart-home{
    position: relative;
    /* שינוי ל-relative כדי לאפשר מיקום טבעי בתוך ה-navbar */
    width: 30px;
    /* התאמת גודל האייקונים */
    height: 30px;
    background-color: transparent;
}

.navbar-under-homepage {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    align-items: center;
    padding: 10px;
    gap: 20px;
    background-color: #fff;
    position: fixed;
    width: 100vw;
    height: 40px;
    /* left: 0px; */
    top: 40px;
    color: #e3a74c;
    direction: rtl;
    font-family:"Varela Round";
        font-style: normal;
    font-weight: 600;
    font-size: 15px;
    z-index: 10;
    border-bottom: 3px solid #00008b;
}

.navbar-under-homepage button {
    
    left:200px;
    background-color: transparent;
    color: #e3a74c;
    border: none;
    font-family:"Varela Round";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;

}

.navbar-under-homepage button:hover,
.navbar-under-homepage :hover {
    color: var(--lightBlue);
    cursor: pointer;
}

.logo-homepage {
    display: flex;
    align-items: center;
    /* padding: 10px; */
    gap: 10px;
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: 20px;
}

/* אייקונים */
.heart-home {
    display: flex;
    align-items: center;
    /* padding: 10px; */
    /* gap: 10px; */
    width: 30px;
    height: 30px;
    /* left: 1196px; */
    margin-top: 0px;
}

.shopping-cart-home{

    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 10px; */
    /* gap: 10px; */


    width: 35px;
    height: 32px;
    /* left: 1180px; */

    transform: matrix(-1, 0, 0, 1, 0, 0);
}


.home-page-casing {
    background: radial-gradient(circle, #191923 0%, #1d1e3d 40%, #5b5d6e 100%);
    min-height: 200vh;
    /* שינוי מ-100vh ל-200vh כדי לאפשר גלילה */
    display: flex;
    flex-direction: column;
}

